# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# compiler output
lib/
test/
types/

# test output
coverage/

# misc
.DS_Store
*.tsbuildinfo
.eslintcache

# environment variables
.env*
!.env.sample

# log files
*.log*
